body
{
  background-color: black;
}

header
{
  position: relative;
  height: 35%;
  border-bottom: 7px solid white;
}
footer
{
  position: relative;
  height: 35%;
  border-bottom: 7px solid white;
}
button
{
  position: left;
  height: 75px;
  width: 105px;
  size: 30px;
}
.again1
{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: large;
  font-style: italic;
   position: left;
  height: 75px;
  width: 105px;
  size: 30px;
}
.between
{
  font-size: 25px;
  position: absolute;
  right: 50px;
  top:5px;
  color: white;
}
h1,h3{
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.answer
{
  position: absolute;
  color: black;
  font-size:100px;
  text-align: center;
  background-color: white;
  width: 125px;
  align-items: center;
  left: 50%;
}
.grid-container
{
  margin-top:5%;
  display: grid; 
  grid-template-columns: auto auto;
}
.guess
{
  border:5px solid white;
  height: 100px;
  width: 200px; 
  background-color: black;
  font-size: 50px;
  text-align: center;
  position: relative;
  margin-top: 0%;
  left: 20%;
  color: aliceblue;
}
.check1
{
  position: relative;
  margin-top: 5%;
  margin-left: 25%;
}
.style
{
  color: white;
  text-align: center;
  position: relative ;
  font-size: 25px;
}
.space
{
  position: relative;
  top: 10%;
}
.space1
{
  position: relative;
  top: 5%; 
}
.button:hover {
  background-color:greenyellow;
}
.inputnumber
{
  position: left;
  height: 75px;
  width: 105px;
  size: 30px;
}